XML schema/content.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="aptech">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="student">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="class"/>
                            <xs:element type="xs:string" name="section"/>
                            <xs:element type="xs:integer" name="rollnumber"/>
                            <xs:element type="xs:string" name="area"/>
                            <xs:element type="xs:integer" name="zipcode"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>